body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-left: 7%;
    padding-right: 7%;
}
.flex-container{
    display: flex;
    padding-bottom: 100px;
}
h3 {
    font-size: 25px;
}
.color-salmon{
    color: salmon;
}
.top-box{
    box-sizing: border-box;
    border-left: 10px solid skyblue;
    font-size: 35px;
    padding-left: 20px;
}
p {
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 8px 30px;
}
.half-width{
 width: 50%;
}
.half-width img{
    width: 90%;
}
.one-third{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 12px;
}
.one-third img{
    width: 30%;
}
.my-mission{
    text-align: center;
    font-size: 35px;
}
#mission{
    background-color: rgb(182, 238, 98);
}
#vission{
    background-color: rgb(240, 228, 122);
}
#goals {
    background-color: lightcoral;
}
footer{
    font-style: italic;
    background-color: rgb(42, 42, 56);
    text-align: center;
}